@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

html,
body {
	font-family: 'Noto Sans KR', sans-serif;
}

.container {
	max-width: 800px;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.input {
	margin-top: 1rem;
}

.buttons {
	margin-top: 1rem;
}

.result {
	margin-top: 1rem;
}

#result {
	font-weight: bold;
}

footer {
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 2rem;
}

a {
	text-decoration: none;
	color: #007bff;
}
